{{> navbar}}

<div class="container mt-4">
    <div class="row">
        <div class="col-sm-3">
            <div class="card border-secondary mb-3" style="max-width: 28rem">
                <div class="card-header text-center h5">Categories</div>
                <div class="card-body text-secondary">
                    <div class="list-group border-0" id="list-tab" role="tablist">
                        <a class="border-0 list-group-item list-group-item-action active" id="list-cardType-list"
                            data-toggle="list" href="#list-cardType" role="tab" aria-controls="cardType">Card type</a>
                        <a class="border-0 list-group-item list-group-item-action" id="list-attribute-list"
                            data-toggle="list" href="#list-attribute" role="tab" aria-controls="attribute">Attribute</a>
                        <a class="border-0 list-group-item list-group-item-action" id="list-type-list"
                            data-toggle="list" href="#list-type" role="tab" aria-controls="type">Type</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-cardType" role="tabpanel"
                    aria-labelledby="list-cardType-list">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <h5>Card Type</h5>
                            <button type="button" class="btn btn-success" data-toggle="modal"
                                data-target="#cardTypeModal">
                                <i class="fa fa-plus-square mr-2 fa-lg" aria-hidden="true"></i> Add Card Type
                            </button>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each this.cardType}}
                                    <tr>
                                        <td class="text-capitalize">{{name}}</td>
                                        <td class="text-right">
                                            <form action="/category/deleteCardType/{{_id}}" method="POST">
                                                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                                                    data-target="#{{_id}}">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                </button>
                                                <button type="submit" class="btn btn-sm btn-danger">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                            </form>
                                            <div class="modal fade" id="{{_id}}" tabindex="-1" role="dialog"
                                                aria-labelledby="{{_id}}Label" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title text-primary" id="{{_id}}Label">Edit Card Type</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="/category/updateCardType/{{_id}}"
                                                                method="POST">
                                                                <div class="form-group">
                                                                    <label for="{{_id}}name">Card Type Name:</label>
                                                                    <input type="text" name="name" class="form-control"
                                                                        id="{{_id}}name" value="{{name}}">
                                                                </div>
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close</button>
                                                                <button type="submit"
                                                                    class="btn btn-primary">Update</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                            <!-- Modal -->
                            <div class="modal fade" id="cardTypeModal" tabindex="-1" role="dialog"
                                aria-labelledby="cardTypeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-success" id="cardTypeModalLabel">New Card Type</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="category/newCardType" method="POST">
                                                <div class="form-group">
                                                    <label for="cardTypeName">Card Type Name:</label>
                                                    <input type="text" name="name" class="form-control"
                                                        id="cardTypeName" value="">
                                                </div>
                                                <button type="submit" class="btn btn-success">Create</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-attribute" role="tabpanel" aria-labelledby="list-attribute-list">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <h5>Attribute</h5>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#attributeModal">
                                <i class="fa fa-plus-square mr-2 fa-lg" aria-hidden="true"></i> Add Attribute
                            </button>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each this.attribute}}
                                    <tr>
                                        <td class="text-capitalize">{{name}}</td>
                                        <td class="text-right">
                                            <form action="/category/deleteAttribute/{{_id}}" method="POST">
                                                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                                                    data-target="#{{_id}}">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                </button>
                                                <button type="submit" class="btn btn-sm btn-danger">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                            </form>
                                            <div class="modal fade" id="{{_id}}" tabindex="-1" role="dialog"
                                                aria-labelledby="{{_id}}Label" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title text-primary" id="{{_id}}Label">Edit
                                                                Monster Race</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="/category/updateAttribute/{{_id}}" method="POST">
                                                                <div class="form-group">
                                                                    <label for="{{_id}}name">Attribute Name:</label>
                                                                    <input type="text" name="name" class="form-control"
                                                                        id="{{_id}}name" value="{{name}}">
                                                                </div>
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close</button>
                                                                <button type="submit"
                                                                    class="btn btn-primary">Update</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                            <!-- Modal -->
                            <div class="modal fade" id="attributeModal" tabindex="-1" role="dialog"
                                aria-labelledby="attributeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="raceModalLabel">New Attribute</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="category/newAttribute" method="POST">
                                                <div class="form-group">
                                                    <label for="attributeName">Attribute Name:</label>
                                                    <input type="text" name="name" class="form-control"
                                                        id="attributeName">
                                                </div>
                                                <button type="submit" class="btn btn-success">Create</button>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="list-type" role="tabpanel" aria-labelledby="list-type-list">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <h5>Type</h5>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#typeModal">
                                <i class="fa fa-plus-square mr-2 fa-lg" aria-hidden="true"></i> Add Monster Type
                            </button>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each this.type}}
                                    <tr>
                                        <td class="text-capitalize">{{name}}</td>
                                        <td class="text-right">
                                            <form action="/category/deleteType/{{_id}}" method="POST">
                                                <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
                                                    data-target="#{{_id}}">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                </button>
                                                <button type="submit" class="btn btn-sm btn-danger">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                            </form>
                                            <div class="modal fade" id="{{_id}}" tabindex="-1" role="dialog"
                                                aria-labelledby="{{_id}}Label" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title text-primary" id="{{_id}}Label">Edit Type</h5>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="/category/updateType/{{_id}}" method="POST">
                                                                <div class="form-group">
                                                                    <label for="{{_id}}name">Type Name:</label>
                                                                    <input type="text" name="name" class="form-control"
                                                                        id="{{_id}}name" value="{{name}}">
                                                                </div>
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close</button>
                                                                <button type="submit"
                                                                    class="btn btn-primary">Update</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                            <!-- Modal -->
                            <div class="modal fade" id="typeModal" tabindex="-1" role="dialog"
                                aria-labelledby="typeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-sm" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="typeModalLabel">New Type</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="category/newType" method="POST">
                                                <div class="form-group">
                                                    <label for="typeName">Type Name:</label>
                                                    <input type="text" name="name" class="form-control"
                                                        id="typeName">
                                                </div>
                                                <button type="submit" class="btn btn-success">Create</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>