{{> navbar}}

<div class="container mt-4">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <h5 class="card-header">Details</h5>
                <div class="card-body">
                    <form action="/card/update/{{card._id}}" enctype="multipart/form-data" method="post" onsubmit="checkForm()">
                        <div class="form-row d-flex justify-content-between">
                            <div class="form-group col-sm-6">
                                <label for="name">Name</label>
                                <input type="text" class="form-control form-control-sm intext" id="name" name="name"
                                    placeholder="{{card.name}}">
                            </div>
                            <div class="form-group col-sm-2">
                                <div class="form-group">
                                    <label for="price">Price($)</label>
                                    <input type="text" class="form-control form-control-sm intext" id="price"
                                        name="price" placeholder="{{card.price}}">
                                </div>
                            </div>
                            <div class="form-group col-sm-2">
                                <div class="form-group">
                                    <label for="atk">ATK</label>
                                    <input type="text" class="form-control form-control-sm intext" id="atk" name="atk"
                                        placeholder="{{card.atk}}">
                                </div>
                            </div>
                            <div class="form-group col-sm-2">
                                <div class="form-group">
                                    <label for="def">DEF</label>
                                    <input type="text" class="form-control form-control-sm intext" id="def" name="def"
                                        placeholder="{{card.def}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-row d-flex justify-content-between">
                            <div class="form-group col-sm-3 col-md-2">
                                <label for="cardType">Card-Type</label>
                                <select class="form-control form-control-sm rounded-0 my-2 text-capitalize"
                                    name="cardType" id="cardType">
                                    <option selected disabled hidden id="sCardType"> {{card.cardType}} </option>
                                    {{#each this.cardTypes}}
                                    <option class="text-capitalize sCcardType" value="{{_id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-group col-sm-3 col-md-2">
                                <label for="attribute">Attribute</label>
                                <select class="form-control form-control-sm rounded-0 my-2 text-capitalize"
                                    name="attribute" id="attribute">
                                    <option selected disabled hidden id="">{{card.attribute}}</option>
                                    {{#each this.attributes}}
                                    <option class="text-capitalize" value="{{_id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-group col-sm-3 col-md-2">
                                <div class="form-group">
                                    <label for="type">Type</label>
                                    <select class="form-control form-control-sm rounded-0 my-2 text-capitalize"
                                        name="type" id="type">
                                        <option selected disabled hidden> {{card.type}} </option>
                                        {{#each this.types}}
                                        <option class="text-capitalize" value="{{_id}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                </div>

                            </div>
                            <div class="form-group col-sm-3 col-md-2">
                                <div class="form-group">
                                    <label for="level">Level</label>
                                    <select class="form-control form-control-sm rounded-0 my-2 text-capitalize"
                                        name="level" id="level">
                                        <option selected disabled hidden> {{card.level}} </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description">Desription</label>
                            <textarea class="form-control intext" rows="3" id="description" name="description"
                                placeholder="{{card.description}}"></textarea>
                        </div>
                        <div class="form-row d-flex justify-content-start mt-4">
                            <div class="form-group col-sm-2 col-3">
                                <img src="/img/{{card.image}}" alt="{{card.name}}-img" class="img-thumbnail">
                                
                            </div>
                            <div class="form-group col-sm-4 col-6 ml-3">
                                <label for="image">Input Image Card Replace</label>
                                <input type="file" class="form-control-file" id="image" name="image">
                            </div>
                            
                        </div>
                        <div class="form-row mt-3">
                            <a href="/card" class="btn btn-secondary mx-3" role="button">Exit</a>
                            <input type="submit" class="btn btn-success mx-3" value="Update">
                            <a href="/card/delete/{{card._id}}" class="btn btn-danger mx-3" role="button">Delete</a>
                        </div>
                    </form>


                </div>
            </div>
        </div>

    </div>
</div>

<script>
    function checkForm() {
        const inputTexts = document.getElementsByClassName("intext");
        for (let index in inputTexts) {
            if (inputTexts[index].value == "" || inputTexts[index].value == null) {
                inputTexts[index].disabled = true;
            }
        }
        return true;
    }
</script>